:root {
    --top-panel-height: 75px;
    --sidebar-container-width: 250px;
    --sidebar-padding: 1.5rem;
    --player-panel-height: 100px;
    --gap-playlists: 1.5rem;
}

body {
    overflow: hidden;
}

.btn {
    cursor: pointer;
    padding: .5rem 2rem;
    border: 1px solid;
    border-radius: 2rem;
}

.sidebar {
    width: var(--sidebar-container-width);
    height: calc(100vh - var(--player-panel-height));
    padding: var(--sidebar-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.sidebar-navigation > *:nth-child(n+2),
.sidebar-bot .download-app {
    margin-bottom: 1rem;
}

.logo {
    height: var(--top-panel-height);
}

.logo img {
    cursor: pointer;
    max-width: 80%;
}

.nav .links li img {
    width: 30px;
    filter: brightness(60%);
    aspect-ratio: 1 / 1;
}

.nav.main .links li {
    padding: 4px 0;
}

.nav.playlists .links li {
    padding: .5rem 0;
}

.nav.playlists .create-playlist {
    width: 40px;
    aspect-ratio: 1 / 1;
    padding: 5px;
}

.nav .links a {
    display: flex;
    align-items: center;
}

.nav .links span {
    margin-left: .5rem;
}

.nav.download-app img {
    width: 20px;
    aspect-ratio: 1 / 1;
}

.nav.profiles {
    padding-top: 1rem;
}

.nav .profile-img-container {
    border-radius: 50%;
    width: 30px;
    aspect-ratio: 1 / 1;
    background-color: #808080;
    content: url("../img/profile.svg");
}

.top-panel {
    position: fixed;
    top: 0;
    left: var(--sidebar-container-width);
    height: var(--top-panel-height);
    width: calc(100vw - var(--sidebar-container-width));
}

.top-panel .btn.upgrade {
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translate(0, -50%);
    display: inline-block;
}

.main-container {
    position: absolute;
    top: var(--top-panel-height);
    left: var(--sidebar-container-width);
    width: calc(100vw - var(--sidebar-container-width));
    height: calc(100vh - var(--player-panel-height) - var(--top-panel-height));
    overflow: auto;
}

.main-container .navigation .links {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    white-space: nowrap;
}

.main-container .content {
    padding: 1rem;
}

.main-container .content .section-title {
    margin-bottom: 1.5rem;
    line-height: 2.5rem;
}

.main-container .section {
    --cols: 6;

    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-playlists);
}

.main-container .item-playlist {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: center;
    flex: 0 0 calc((100% - var(--cols) * var(--gap-playlists)) / var(--cols));
}

@media (max-width: 699px) {
    .main-container .section {
        --cols: 2;

        font-size: 75%;
    }
}

@media (min-width: 700px) {
    .main-container .section {
        --cols: 4;

        font-size: 85%;
        white-space: nowrap;
    }
}


@media (min-width: 1100px) {
    .main-container .section {
        --cols: 6;
    }
}

.main-container .item-playlist .img-container {
    max-height: 250px;
    aspect-ratio: 1 / 1;
    background-size: cover;
}

.main-container .popular .img-container {
    border-radius: 50%;
}

/*  img RECENT SECTION  */
.main-container .recent .item-playlist:first-child .img-container {
    background-image: url("../img/metal_lifting.jpg");
}

.main-container .recent .item-playlist:nth-child(2) .img-container {
    background-image: url("../img/stranger.jpeg");
}

.main-container .recent .item-playlist:nth-child(3) .img-container {
    background-image: url("../img/aquietplace.jpeg");
}

.main-container .recent .item-playlist:nth-child(4) .img-container {
    background-image: url("../img/split.jpeg");
}

.main-container .recent .item-playlist:nth-child(5) .img-container {
    background-image: url("../img/cure.jpeg");
}

.main-container .recent .item-playlist:nth-child(6) .img-container {
    background-image: url("../img/sinister.jpeg");
}

/*  img CREATO PER TE SECTION  */
.main-container .creato-per-te .item-playlist:first-child .img-container {
    background-image: url("../img/radar.jpeg");
}

.main-container .creato-per-te .item-playlist:nth-child(2) .img-container {
    background-image: url("../img/mixdaily.jpeg");
}

/*  img POPULAR  */
.main-container .popular .item-playlist:first-child .img-container {
    background-image: url("../img/youg.jpeg");
}

.main-container .popular .item-playlist:nth-child(2) .img-container {
    background-image: url("../img/einaudi.jpeg");
}

.audio-player-panel {
    padding-inline: var(--sidebar-padding);
    justify-content: space-between;
    display: flex;
    z-index: 99;
    position: relative;
    left: 0;
    bottom: 0;
    height: var(--player-panel-height);
    width: 100vw;
}

.player-left-side {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 0 1 20%;
}

.player-left-side img {
    max-height: 50%;
}

.player-middle-side {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.player-middle-side .controls {
    display: flex;
    gap: 1.5rem;
}

.player-middle-side .song-time-control {
    display: flex;
    gap: .5rem;
}

.song-time-control .slider {
    width: 200px;
    height: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity .4s;
}

.song-time-control .slider::-moz-range-thumb {
    width: 5px;
    height: 5px;
    background: #282828;
    border-radius: 0;
    border-width: 0;
}

.song-time-control .slider {
    cursor: pointer;
}

.slider:hover {
    opacity: 1;
}

.song-time-control .song-time {
    width: 25px;
}

.player-right-side {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

.volume-slider {
    cursor: pointer;
    opacity: 0.7;
    width: 80px;
    height: 5px;
    outline: none;
    transition: opacity .4s;
}

.volume-slider::-moz-range-thumb {
    width: 5px;
    height: 5px;
    background: #282828;
    border-radius: 0;
    border-width: 0;
}

@media (max-width: 699px) {

    .player-middle-side .controls {
        gap: 1rem;
    }

    .song-time-control .slider {
        width: 100px;
    }
}

