:root {
    --top-panel-height: 75px;
    --sidebar-container-width: 250px;
    --sidebar-padding: 1.5rem;
    --player-panel-height: 100px;
    --gap-playlists: 1.5rem;
}

.btn {
    cursor: pointer;
    padding: .5rem 2rem;
    border: 1px solid;
    border-radius: 2rem;
}

.sidebar {
    width: var(--sidebar-container-width);
    height: calc(100vh - var(--player-panel-height));
    padding: var(--sidebar-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.sidebar-navigation > *:nth-child(n+2),
.sidebar-bot .download-app {
    margin-bottom: 1rem;
}

.logo {
    height: var(--top-panel-height);
}

.logo img {
    cursor: pointer;
    max-width: 80%;
}

.nav .links li img {
    width: 30px;
    filter: brightness(60%);
    aspect-ratio: 1 / 1;
}

.nav.main .links li {
    padding: 4px 0;
}

.nav.playlists .links li {
    padding: .5rem 0;
}

.nav.playlists .create-playlist {
    width: 40px;
    aspect-ratio: 1 / 1;
    padding: 5px;
}

.nav .links a {
    display: flex;
    align-items: center;
}

.nav .links span {
    margin-left: .5rem;
}

.nav.download-app img {
    width: 20px;
    aspect-ratio: 1 / 1;
}

.nav.profiles {
    padding-top: 1rem;
}

.nav .profile-img-container {
    border-radius: 50%;
    width: 30px;
    aspect-ratio: 1 / 1;
    background-color: #808080;
    content: url("../img/profile.svg");
}

.top-panel {
    position: fixed;
    top: 0;
    left: var(--sidebar-container-width);
    height: var(--top-panel-height);
    width: calc(100vw - var(--sidebar-container-width));
}

.top-panel .btn.upgrade {
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translate(0, -50%);
    display: inline-block;
}

.main-container {
    position: absolute;
    top: var(--top-panel-height);
    left: var(--sidebar-container-width);
    width: calc(100vw - var(--sidebar-container-width));
    height: calc(100vh - var(--player-panel-height) - var(--top-panel-height));
    overflow: auto;
}

.main-container .navigation .links {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    white-space: nowrap;
}

.main-container .content {
    padding: 1rem;
}

.main-container .content .section-title {
    margin-bottom: 1.5rem;
}

.main-container .section {
    --cols: 6;

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-playlists);
}

.main-container .item-playlist {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: center;
    flex: 0 0 calc((100% - var(--cols) * var(--gap-playlists)) / var(--cols));
}

@media (max-width: 699px) {
    .main-container .section {
        --cols: 2;

        font-size: 75%;
    }
}

@media (min-width: 700px) {
    .main-container .section {
        --cols: 4;

        font-size: 85%;
        white-space: nowrap;
    }
}


@media (min-width: 1100px) {
    .main-container .section {
        --cols: 6;
    }
}


.main-container .item-playlist .img-container {
    max-height: 200px;
    aspect-ratio: 1 / 1;
    background-size: cover;
}

.main-container .item-playlist:first-child .img-container {
    background-image: url("../img/metal_lifting.jpg");
}

.main-container .item-playlist:nth-child(2) .img-container {
    background-image: url("../img/stranger.jpeg");
}

.main-container .item-playlist:nth-child(3) .img-container {
    background-image: url("../img/aquietplace.jpeg");
}

.main-container .item-playlist:nth-child(4) .img-container {
    background-image: url("../img/split.jpeg");
}

.main-container .item-playlist:nth-child(5) .img-container {
    background-image: url("../img/cure.jpeg");
}

.main-container .item-playlist:nth-child(6) .img-container {
    background-image: url("../img/sinister.jpeg");
}


.audio-player-panel {
    z-index: 99;
    position: fixed;
    left: 0;
    bottom: 0;
    height: var(--player-panel-height);
    width: 100vw;
}


