:root {
    --top-panel-height: 75px;
    --sidebar-container-width: 250px;
    --sidebar-padding: 1.5rem;
    --player-panel-height: 100px;
}

.sidebar {
    position: relative;
    width: var(--sidebar-container-width);
    height: calc(100vh - var(--player-panel-height));
    padding: var(--sidebar-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.sidebar-top > *:nth-child(n+2),
.sidebar-bot .download-app {
    margin-bottom: 1rem;
}

.logo {
    height: var(--top-panel-height);
}

.logo img {
    cursor: pointer;
    max-width: 80%;
}

.nav .links li img {
    width: 30px;
    filter: brightness(60%);
    aspect-ratio: 1 / 1;
}

.nav.main .links li {
    padding: 4px 0;
}

.nav.playlists .links li {
    padding: .5rem 0;
}

.nav.playlists .create-playlist {
    width: 40px;
    aspect-ratio: 1 / 1;
    padding: 5px;
}

.nav .links a {
    display: flex;
    align-items: center;
}

.nav .links span {
    margin-left: .5rem;
}

.nav.download-app img {
    width: 20px;
    aspect-ratio: 1 / 1;
}

.nav.profiles {
    padding-top: 1rem;
}

.nav .profile-img-container {
    border-radius: 50%;
    width: 30px;
    aspect-ratio: 1 / 1;
    background-color: #808080;
    content: url("../img/profile.svg");
}

.top-bar {
    position: fixed;
    top: 0;
    left: var(--sidebar-container-width);
    height: var(--top-panel-height);
    width: calc(100vw - var(--sidebar-container-width));
}

main.content {
    position: relative;
    top: var(--top-panel-height);
    width: calc(100vw - var(--sidebar-container-width));
    height: calc(100vh - var(--player-panel-height) - var(--top-panel-height));
    background-color: grey;
}

.audio-player-panel {
    z-index: 99;
    position: fixed;
    left: 0;
    bottom: 0;
    height: var(--player-panel-height);
    width: 100vw;
}


