:root {
    --color-links: #9a9a9a;
    --color-title: white;
    --color-subtitle: #7c7e83;
    --transition-links-time: .4s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.sidebar {
    background-color: #000000;
}

.sidebar-navigation .links a,
.sidebar-bot .download-app a {
    color: var(--color-links);
    transition: var(--transition-links-time);
}

.sidebar-navigation h4 {
    color: var(--color-title);
}

.nav.playlists .create-playlist {
    background-color: var(--color-links);
}

.nav.playlists .links a {
    font-size: 14px;
}

.nav.profiles {
    border-top: 1px solid #808080;
}

.nav.profiles .links a {
    color: white;
    transition: var(--transition-links-time);
}

.top-panel {
    background-color: #080b12;
    color: white ;
}

.upgrade {
    transition: var(--transition-links-time);
}

.main-container {
    background-color: #141922;
}

.main-container .title,
.main-container .section-title {
    color: var(--color-title);
}

.main-container .subtitle {
    color: var(--color-subtitle);
}

.main-container .navigation .links a {
    text-decoration: none;
    color: var(--color-links);
    transition: var(--transition-links-time);
}

.audio-player-panel {
    background-color: #282828;
}