:root {
    --color-links: #787b7f;
    --transition-links-time: .3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.sidebar {
    background-color: #000000;
}

.sidebar-navigation .links a,
.sidebar-bot .download-app a {
    color: var(--color-links);
    transition: var(--transition-links-time);
}

.sidebar-navigation h4 {
    color: #d7d7d7;
}

.nav.playlists .create-playlist {
    background-color: var(--color-links);
}

.nav.playlists .links a {
    font-size: 14px;
}

.nav.profiles {
    border-top: 1px solid #808080;
}

.nav.profiles .links a {
    color: white;
    transition: var(--transition-links-time);
}

.top-panel {
    background-color: #080b12;
    color: white ;
}

.upgrade {
    transition: var(--transition-links-time);
}

.main-content {
    background-color: #141922;
}

.main-content .navigation .links a {
    text-decoration: none;
    color: var(--color-links);
    transition: var(--transition-links-time);
}

.audio-player-panel {
    background-color: #282828;
}